.wrapper {
  padding: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 500px;
}

.text {
  margin: 0;
}

.done {
  text-decoration: line-through;
}
